DirectoryIndex index.php index.html
Options -Indexes
RewriteEngine On

ErrorDocument 404 /error/404.html
ErrorDocument 403 /error/403.html

<FilesMatch "\.(php|html|css|js|jpg|jpeg|png|gif|ico)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>